.nav-links {
    display: flex;
}

.nav-links a {
    font-family: 'Rajdhani', sans-serif;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 500;
    transition: color 0.3s, border-bottom 0.3s;
}

.nav-links a:hover {
    color: #40407d;
}

.nav-links a.active {
    border-bottom: 2px solid #020225;
}